dash_table_experiments==0.6.0
numpy==1.14.3
httplib2==0.11.3
pandas==0.23.0
plotly==3.0.0
sodapy==1.4.6
dash==0.22.0
dash_core_components==0.26.0
requests==2.18.4
dash_html_components==0.11.0
python_dateutil==2.7.3
google_api_python_client==1.7.4
oauth2client==4.1.2
PySocks==1.6.7
